.dates {
  display: flex;
  flex-grow: 1;
}

.week {
  flex-grow: 1;
  min-height: 100px;
  text-align: right;
  border-right: dashed 2px black;
  padding: 10px;
}

.row{
  display: flex;
  border-bottom: solid 2px black;
}

.name{
  display: flex;
  align-items: flex-end;
  padding:10px;
  width:100px;
}
